.comment-form .connector-button-wrapper input {
  background: url("social_btn.png") no-repeat;
  text-indent: -9999px;
  padding: 6px 15px;
  width: 170px;
  margin: 5px 0px;
}

.comment-form .connector-button-wrapper input:hover {
  background-color: #fff;
}
.comment-form  input.oauthconnector-facebook {
  background-position: 0px -29px;
}

.comment-form input.oauthconnector-linkedin {
  background-position: 0px -58px;
}

.comment-form input.oauthconnector-google {
  background-position: 0px -87px;
}

.connector-button-wrapper {
  float: left;
}
